<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="log/internalLog.log">

  <!-- the targets to write to -->
  <targets async="true">

    <default-wrapper xsi:type="BufferingWrapper"
                 name="defaultWrapper"
                 bufferSize="120"
                 flushTimeout="2000"
                 overflowAction="Discard"></default-wrapper>
    <!--文件输出-->
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="log/${date:format=yyyy-MM}/nlog-system-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!--文件输出(Web)-->
    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="log/${date:format=yyyy-MM}/nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!--控制台输出-->
    <target xsi:type="ColoredConsole" name="console"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>

    <!--debug窗口输出-->
    <target xsi:type="Debug" name="debug"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>

    <!--网络传输-->
    <target xsi:type="Network" address="tcp://192.168.101.25:45445" name="network"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--
    日志级别
    Fatal : 只打印出Fatal及以上的日志
    Error : 只打印出Error及以上的日志
    Warn  : 只打印出Warning及以上的日志
    Info  : 只打印出Information及以上的日志
    Debug : 只打印出Debug及以上的日志
    Trace : 只打印出Trace及以上的日志
    Off   : 不打印日志
    Fatal 输出日志量最少
    Trace 输出日志量最多
    -->
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--输出到RabbitMQ
    <logger name="*" minlevel="Trace" writeTo="rabbit" />-->

    <!--输出到控制台-->
    <logger name="*" minlevel="Trace" writeTo="console"/>

    <!-- BlackHole without writeTo -->
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

    <!--Web日志输出-->
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>